# Timezone
TZ=Europe/Zurich

# Postgres
POSTGRES_DB=saaia
POSTGRES_USER=USERNAME
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
# POSTGRES_HOST_PORT=5432

# Qdrant (port host bind localhost)
QDRANT_HOST_PORT=6333
# QDRANT_API_KEY=CHANGE_ME_IF_ENABLED

# TEI (embeddings)
TEI_HOST_PORT=8081
TEI_MODEL_ID=intfloat/multilingual-e5-base
